<div class="container-fluid bg-blue h-100 px-5">
  <div class="row py-5">
    <div class="col text-start">
      <h1 class="text-prime">Hey! Get started with your</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="drag-text-top fs-13" style="color: aliceblue; text-align: left">
        Just Upload your DOM file to get started
      </p>
      <div class="drag-file d-flex flex-column align-items-center text-white">
        <div class="d-flex align-items-center justify-content-center mt-4">
          
          <i
            class="fa fa-cloud-upload"
            style="font-size: 48px; color: rgb(23, 207, 176)"
          ></i>
          <p class="m-0 mx-2"  >Drop and drag data file to upload</p>
        </div>
        <p class="m-0 my-4">OR</p>
        <div>

          <button class="btn btn-outline-primary text-prime fs-11 border-prime">Choose File for the Upload</button>
        </div>
        <div class="w-50 text-start fs-11 mt-5">
          <p>Questions</p>
          <ol>
            <li>Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="fs-12 text-start text-white mt-5 px-5 pt-4">

        <p class="m-0">Lorem, ipsum dolor.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, corporis!</p>
        <button class="btn btn-outline-primary text-prime fs-10 rounded-0 border-prime"><i class="fas fa-download mx-2"></i>Download Successfully</button>

      </div>
    </div>
  </div>
</div>
